<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subscribers Buy | Home</title>
  <link rel="preload" href="/css/footer.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4HJFTVD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <footer class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 col-lg-3">
          <h6>quick menu</h6>
          <ul>
            <li><a href="/">buy youtube subscribers</a></li>
            <li><a href="/buy-youtube-likes.html">buy youtube likes</a></li>
            <li><a href="/buy-youtube-comments.html">buy youtube comments</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-3">
          <h6>legal</h6>
          <ul>
            <li><a href="/terms-conditions.html">terms & conditions</a></li>
            <li><a href="/privacy-policy.html">privacy policy</a></li>
            <li><a href="/refund-policy.html">refund policy</a></li>
            <li><a href="/disclaimer.html">disclaimer</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="">
            <h6>contact us</h6>
            <p>3194, 201 E Center St Ste 112, Anaheim, CA 92805
              Anaheim, CA 92805, USA</p>
            <ul class="footer-social-media">
              <li><a href="/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="/"><i class="fa fa-twitter"></i></a></li>
              <li><a href="/"><i class="fa fa-youtube"></i></a></li>
              <li><a href="/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="/"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <p class="copyright">&copy; 2021 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/lazysizes.min.js"></script>

</body>